<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colecionador Store</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>COLECIONAR STORE</h1>
        <p>Colecionáveis que contam histórias</p>
    </header>

    <main>
        <h2>Bem-vindo à Colecionador Store</h2>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>